.card {
    background-color: white;
    margin: 7px 0;
    border-radius: 3px;
    display: flex;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card textarea {
    min-height: 50px;
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 3px;
    justify-content: stretch;
    align-items: stretch;
    resize: none;
    border: none;
    width: 100%;
}

.card textarea::placeholder {
    color: #bbb;
}

.card textarea:focus {
    outline: none !important;
    border:1px solid #eee;
    box-shadow: 0 0 2px #555;
}